<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
  <style>
  body {
	  padding-top: 50px;
	}
	.starter-template {
	  padding: 40px 15px;
	  text-align: center;
	}
  </style>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        
      </div>
    </div>

    <div class="container">

    <h1><%= title %></h1>
    <hr/>
    <form class="" role="form" method="post" action="/google/pagerank">
		  <div class="input-group">
		  <span class="input-group-addon">http://</span>
		  <input type="text" class="form-control" name="urls">
		</div>
		  <br/>
		  <button type="submit" class="btn btn-default">Check PR</button>
		</form><br/>
	<% if (typeof(pagerank)!='undefined') {%>
	<div class="row">
	  <div class="col-md-2">Web Page URL : </div>
	  <div class="col-md-8"><%= weburl %></div>
	  <div class="col-md-2"></div>
	</div>
	<br/>
	<div class="row">
	  <div class="col-md-2">The Page Rank : </div>
	  <div class="col-md-8">
	  	<div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= pagerank %>0" aria-valuemin="0" aria-valuemax="100" style="width: <%= pagerank %>0%">
		  </div>
		</div>
	</div>
	  <div class="col-md-2"><%= pagerank %>/10</div>
	</div>
	<small>( the page rank value is <strong><%= pagerank %></strong> from <strong>10</strong> possible points)</small>
	
	
	
	<% }%>
    </div><!-- /.container -->
    
    
  </body>
</html>