<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
		<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
    <meta content="Rajesh" name="keywords">
    <meta content="R K Jha" name="description">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
 		<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Yello Page API</a>
        </div>
        
      </div>
    </div>

    <div class="container">

    <h1><%= title %></h1>
    <hr/>
    <form class="form-inline" role="form" method="post" action="/yelloapi">
		  <div class="form-group">
		    <label class="sr-only" for="what">What</label>
		    <input type="text" class="form-control" name="what" placeholder="What">
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="where">Where</label>
		    <input type="text" class="form-control" name="where" placeholder="where">
		  </div>
		 
		  <button type="submit" class="btn btn-default">Search</button>
		</form>
		<h3></h3>
    <div class="alert alert-<%= apilog.status %>">
        <%= apilog.msg %>
    </div>

    <% if(data){ %>
    <!-- Loop for each result -->
    <% for(var k in data) { %>
		<div class="well">
       <div class="row panel-body">
          <div class="col-md-3"><h5><strong><%= data[k].name%></strong></h5></div>
          <div class="col-md-5">
            <address>
              <strong>Address</strong><br>
              <%= data[k].address.street %>, <%= data[k].address.city %><br>
              <%= data[k].address.prov %>, <%= data[k].address.pcode %> <br>
              URL : <%= data[k].url %>
            </address>
          </div>
          <div class="col-md-4">
            <address>
              <strong>Meta Data</strong><br>
              <% if(data[k].meta){%>
              <% for(var l in data[k].meta) { %>
                <%= data[k].meta[l].name%> : <%= data[k].meta[l].content%><br>
              <% } %>
              <% } else { %> 
                  <strong> Note : </strong>No URL found
              <% } %>
            </address>
          </div>
       </div>
    </div>
    <% } %>
    <!--Loop End  -->
    <% } %>

    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>